.border {
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
    color: black;
    border-style: solid;
    width: fit-content;
}
.margin {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}