<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>webhttpclient</title>
    <link rel="stylesheet" href="default.css">
  </head>
  <body>
    
    <div class="autoWidth" id="example">
      <h1 class="center">Wilkommen zum Fahrradkonfigurator</h1>
      <div class="center" v-if="handleBarTypes.length">
        <div v-for="handleBar in handleBarTypes">
          <div class="border margin center card" v-on:click="getAvailableHandlebarMaterials(handleBar)">
            <div class="margin">
              {{handleBar}}
            </div>
          </div>
        </div>
      </div>
      <div class="center" v-else-if="!handleBarMaterials.length && !handleBarGearshifts.length && !handleBarHandleMaterials.length && !orderReceived">
        <p>Stellen Sie sicher dass der Server läuft.</p>
        <input type="button" v-on:click="getAvailableHandleBarTypes()" value="Retry Connection"/>
      </div>

      <div class="center" v-if="handleBarMaterials.length">
        <div v-for="handleBarMaterial in handleBarMaterials">
          <div class="border margin center card" v-on:click="getAvailableHandlebarGearshifts(handleBarMaterial)">
            <div class="margin">
              {{handleBarMaterial}}
            </div>
          </div>
        </div>
      </div>

      <div class="center" v-if="handleBarGearshifts.length">
        <div v-for="handleBarGearshift in handleBarGearshifts">
          <div class="border margin center card" v-on:click="getAvailableHandleMaterials(handleBarGearshift)">
            <div class="margin">
              {{handleBarGearshift}}
            </div>
          </div>
        </div>
      </div>

      <div class="center" v-if="handleBarHandleMaterials.length">
        <div v-for="handleBarHandleMaterial in handleBarHandleMaterials">
          <div class="border margin center card" v-on:click="sendConfiguration(handleBarHandleMaterial)">
            <div class="margin">
              {{handleBarHandleMaterial}}
            </div>
          </div>
        </div>
      </div>

      <div class="center" v-if="orderReceived">
        <div class="border margin center">
          <div class="margin">
            {{orderConfirmation.id + " - " + orderConfirmation.lenkertyp + " - " + orderConfirmation.material + " - " + orderConfirmation.schaltung + " - " + orderConfirmation.griff + " - " + orderConfirmation.price +  " - " + orderConfirmation.deliveryDate}}
          </div>
        </div>
      </div>
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
